@import url('https://fonts.googleapis.com/css3?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body{
    font-family: 'Nunito',sans-serif;

}

/** NAVIGATION **/

.navigation{
    display: flex;
    flex-flow: row wrap;
    /* This aligns items to the end line on main-axis */
    justify-content: flex-end;
    margin: 0;
  }

  @media all and (max-width: 500px) {
    .navigation {
      /* On small screens, we are no longer using row direction but column */
      flex-direction: column;
    }
  }

.checked{
    color: orange;
}
#data-output{
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(4, 1fr);
    justify-content: center;
}
/* Style the form icons */
.icon {
    padding: 10px;

    color: #d2d2d2;
    min-width: 50px;
    text-align: center;

z-index: 5000;
  }

  .agSearch{
      color: #555;
    outline: none;
  }
  .textSearch{
    padding: 10px;
    outline: none;
    width: 100%;
  }
  input[type="search"] {
    border: none;
    background: transparent;
    margin: 0;
    padding: 7px 8px;
    font-size: 14px;
    color: inherit;
    border: 1px solid transparent;
    border-radius: inherit;
  }
  
  input[type="search"]::placeholder {
    color: #bbb;
  }

  button[type="submit"] {
    text-indent: -999px;
    overflow: hidden;
    width: 40px;
    padding: 0;
    margin: 0;
    border: 1px solid transparent;
    border-radius: inherit;
    background: transparent url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' class='bi bi-search' viewBox='0 0 16 16'%3E%3Cpath d='M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z'%3E%3C/path%3E%3C/svg%3E") no-repeat center;
    cursor: pointer;
    opacity: 0.7;
  }
  
  button[type="submit"]:hover {
    opacity: 1;
  }
  
  button[type="submit"]:focus,
  input[type="search"]:focus {
    box-shadow: 0 0 3px 0 #1183d6;
    border-color: #1183d6;
    outline: none;
  }
  

  
  input.nosubmit {
    border: 1px solid #555;
    width: 100%;
    padding: 16px 50px;
    font-size: 1.15rem;
    font-weight: bold;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
     background: transparent url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' class='bi bi-search' viewBox='0 0 16 16'%3E%3Cpath d='M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z'%3E%3C/path%3E%3C/svg%3E") no-repeat 13px center;
  }
img{
    height: 50px;
    cursor: pointer;
    padding: 2px 50px;
}


div.border{
    border-bottom: 4px solid #143945;
}

h1.logo{
    font-family: 'Nunito';
    margin-left: 3rem;
    font-weight:bolder;
    font-size: 1.6rem;
    
}

.sub-title{
    font-size: 12px;
    margin-top: -10px;
    margin-left: 3rem;
    position: absolute;
    font-weight: bold;
 
}
/* NAVIGATION LINKS */
.headBox{
background-color:#0D8CA7;
overflow: hidden;
padding: 10px 0;

}
a,
a:hover{
    text-decoration: none;
}

ul{
    list-style-type: none;
  margin: 0;
  padding: 0;
  
}


  ul.linkContainer > li.navlinks > a.active,
  ul.linkContainer > li.navlinks > a:hover{
    background-color: #057e99;
  }

  li{
    float: left;
    position: relative;
}


li.navlinks a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 20px 25px;
    text-decoration: none;
    font-size: 17px;
    font-weight: bold;
    margin-top: -9px;

  }
.categorylabels{
    color: #10707c;
}

.bg-milgreen{
    background-color: #e4e4de79;
}
.bg-slightgreen{
    background-color: #ECF7FF;
}
.imagepattern{

    background-image: url("../images/pattern3.jpg");

    background-repeat:no-repeat;
    background-size:cover;

}
.bg-subtext2{
    color: #4a726b;
}
.bg-panel{
    background-color: #23859F;
}
.employer-bg{
    background-color: #9153D8;
}
.top-bg{
    background-color: #74EBD5;
    background-image: linear-gradient(90deg, #74EBD5 0%, #9FACE6 100%);
}

.btn{
    padding-left: 20px;
    padding-right: 20px;
    border: none;
    font-weight: bold;
}
.btn, .btn:link, .btn:visited, .btn:active{
    background-color: #239B9F;
    border: none;

}
.btn:hover, .btn:active{
    background-color: #1a8386;
}
/***   CARDS ****/

div.card{
    cursor: pointer;
    border-radius: 15px;
}
div.card:hover{

    background: linear-gradient(145deg, #d6e2e2, #ffffff);
    box-shadow:  22px 22px 43px #dbe7e7,
                 -22px -22px 43px #ffffff;


}
.card-title{
    font-weight: bold;
    color:#147f92ec;
    font-size: 1.35rem;
}

.card{
padding: 1rem;
    border: 0px;
    background: #30cfd0;
    overflow: hidden;
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, rgba(48, 207, 208, 0.15), rgba(8, 104, 103, 0.15));
  
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, rgba(48, 207, 208, 0.15), rgba(8, 104, 103, 0.15));
    border-radius: 1px solid transparent;

}

/*** INPUTS ***/

.cmdCenter{

    display:flex;
    flex-direction: row;
    flex-flow: row wrap;
    justify-content: space-around;

}
.searchControl{


   padding: 30px;
}

